<div nz-row>

  <div nz-col nzSpan="16">
    <nz-input-group style="width: 90%;" [nzSuffix]="textAreaClearTpl"
      class="ant-input-affix-wrapper-textarea-with-clear-btn">
      <textarea nz-input [(ngModel)]="blogContent" placeholder="Please input a content"></textarea>
    </nz-input-group>
    <ng-template #textAreaClearTpl>
      <span nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle" *ngIf="blogContent"
        (click)="blogContent = ''"></span>
    </ng-template>
  </div>

  <div nz-col nzSpan="8">
    <nz-upload [(nzFileList)]="fileList" [nzBeforeUpload]="beforeUpload">
      <button nz-button>
        <span nz-icon nzType="upload"></span>
        Select File
      </button>
    </nz-upload>
  </div>

</div>

<br>

<div nz-row class="centered">
  <button nz-button nzType="primary" [disabled]="!(blogContent || fileList.length > 0)"
    (click)="onSubmit()">Submit</button>
</div>
