<nz-card>
  <nz-page-header nzTitle="My Blog App"></nz-page-header>
</nz-card>

<nz-card class="centered">
  <div nz-row>
    <div nz-col nzSpan="3"></div>
    <div nz-col nzSpan="18">
      <app-blog-form (submitEvent)="onBlogSubmit($event)"></app-blog-form>
    </div>
    <div nz-col nzSpan="3"></div>
  </div>
</nz-card>

<nz-card class="centered">
  <div nz-row>
    <div nz-col nzSpan="3"></div>
    <div nz-col nzSpan="18">
      <app-blog-list [dataSource]="blogDetails"></app-blog-list>
    </div>
    <div nz-col nzSpan="3"></div>
  </div>
</nz-card>
