<ng-template #commentTemplateRef let-item="item">
  <nz-comment [nzAuthor]="item.author">
    <nz-avatar nz-comment-avatar nzIcon="user" [nzSrc]="item.avatar"></nz-avatar>
    <nz-comment-content>
      <p>{{ item.content }}</p>
    </nz-comment-content>
    <nz-comment-action>
      <span nz-tooltip nzTitle="Like" nz-icon nzType="like" [nzTheme]="item.likes > 0 ? 'twotone' : 'outline'"
        (click)="addLike(item.id)"></span>
      <span class="count like">{{ item.likes }}</span>
    </nz-comment-action>
    <nz-comment-action>
      <span (click)="selectedId = item.id">Reply to</span>
    </nz-comment-action>
    <nz-comment-action>
      <a nz-button [nzDanger]="true" nzSize="small" nzType="text" nz-popconfirm nzPopconfirmTitle="Are you sure?"
        nzOkText="Yes" nzCancelText="No" (nzOnConfirm)="deleteComment(item)" [nzIcon]="iconTpl"><i nz-icon
          nzType="delete" nzTheme="fill"></i></a>
    </nz-comment-action>

    <nz-comment *ngIf="item.id === selectedId">
      <nz-avatar nz-comment-avatar nzIcon="user" [nzSrc]="avatar"></nz-avatar>
      <nz-comment-content>
        <nz-form-item>
          <textarea [(ngModel)]="userComment" nz-input rows="4"></textarea>
        </nz-form-item>
        <br>
        <nz-form-item>
          <button nz-button nzType="primary" [nzLoading]="submitting" [disabled]="!userComment"
            (click)="addComments(item)">
            Add Comment
          </button>
        </nz-form-item>
      </nz-comment-content>
    </nz-comment>

    <ng-container *ngIf="item.children && item.children.length">
      <ng-template ngFor let-child [ngForOf]="item.children">
        <ng-template [ngTemplateOutlet]="commentTemplateRef" [ngTemplateOutletContext]="{ item: child }">
        </ng-template>
      </ng-template>
    </ng-container>
  </nz-comment>
</ng-template>

<div *ngIf="dataSource.length === 0; else blogTemplate">
  <p>No blog posts found</p>
</div>

<ng-template #blogTemplate>
  <ng-container *ngFor="let data of dataSource">
    <ng-template [ngTemplateOutlet]="commentTemplateRef" [ngTemplateOutletContext]="{ item: data }"></ng-template>
  </ng-container>
</ng-template>

<ng-template #iconTpl>
  <i nz-icon nzType="question-circle-o" style="color: red;"></i>
</ng-template>
